body, html {
    height: 100vh;
}

.div_principal {
    position: absolute;
    background-color: rgb(253, 255, 112);
    width: 100%;
    height: 100%;
}

.div_honeycomb {
    position: absolute;
    width: 1500px;
    height: 880px;
    top: 30px;
    left: 30px;
    overflow-x: auto;
    overflow-y: auto;
}

.div_controls_honeycomb {
    position: relative; 
    background-color: chocolate;
    float: right;
    padding: 10px;
    width: 300px;
    top: 30px;
    right: 30px;
    outline: 2px solid white;
}

table {
    position: relative;
    float: left;
    width : 100%; 
    height: 100%;
}

.cell {
    background-color: chocolate;
    border: 3px solid black;
    vertical-align: top;
    display: table-cell;
}

.label_title {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    height: 30px;
    margin: 5px;
    border: 5px;
}

.label_options {
    position: relative;
    font-weight: bold;
    color: white;
    font-size: 14px;
    height: 30px;
    margin: 5px;
    border: 5px;
}

.label_change_position {
    position: absolute;
    overflow-x: auto;
    background-color: gainsboro;
    font-weight: bold;
    color: black;
    font-size: 14px;
    width: 110px;
    padding: 5px;
    margin: 5px;
    border: 5px;
}

.input_dimensions_honeycomb {
    position: relative;
    width: 60px;
    height: 30px;
    padding: 5px;
    margin: 5px;
}

.button_principal {
    position: relative;
    background-color: #04AA6D;
    border: 1px solid black;
    font-weight: bold;
    color: white;
    padding: 5px;
    margin: 5px;
}

.button_see_final_position {
    position: relative;
    background-color: #04AA6D;
    border: 1px solid black;
    font-weight: bold;
    color: white;
    top: 10px;
    padding: 5px;
    margin: 5px;
}

.button_options {
    position: relative;
    background-color: rgb(84, 129, 236);
    border: 1px solid black;
    font-weight: bold;
    color: white;
    padding: 5px;
    margin: 5px;
}