<body>
    <div class="div_principal">
        <div class="div_honeycomb">
            <table class="table">
                <tr *ngFor="let col of rowArray; index as i">
                    <td class="cell" *ngFor="let col of colArray; index as j"></td>
                </tr>
            </table>
        </div>
        <div class="div_controls_honeycomb">
            <label class="label_title">Honeycomb dimensions</label>
            <div display= inline>
                <label class="label_options">Number of rows:</label>
                <input [(ngModel)]="rows" class="input_dimensions_honeycomb" type="number" min="0" max ="100" 
                onKeyUp= 
                "
                    if(this.value > 100)
                    {
                        this.value = '100';
                    }
                    else if(this.value < 0)
                    {
                        this.value = '0';
                    }
                ">
            </div>
            <div display= inline>
                <label class="label_options">Number of columns:</label>
                <input [(ngModel)]="columns" class="input_dimensions_honeycomb" type="number" min="0" max ="100"
                onKeyUp= 
                "
                    if(this.value > 100)
                    {
                        this.value = '100';
                    }
                    else if(this.value < 0)
                    {
                        this.value = '0';
                    }
                ">
            </div>
            <label class="label_title">Start position of the bee</label>
            <div display= inline>
                <label class="label_options">X:</label>
                <input class="input_dimensions_honeycomb" type="number" min="0" max ="100" 
                onKeyUp= 
                "
                    if(this.value > 100)
                    {
                        this.value = '100';
                    }
                    else if(this.value < 0)
                    {
                        this.value = '0';
                    }
                ">
            </div>
            <div display= inline>
                <label class="label_options">Y:</label>
                <input class="input_dimensions_honeycomb" type="number" min="0" max ="100"
                onKeyUp= 
                "
                    if(this.value > 100)
                    {
                        this.value = '100';
                    }
                    else if(this.value < 0)
                    {
                        this.value = '0';
                    }
                ">
            </div>
            <div display= inline>
                <label class="label_options">Orientation:</label>
                <button (click)="setCardinality()" class="button_size_honeycomb" type="button">{{cardinality}}</button>
            </div>
            <label class="label_title">Change position of the bee</label>
            <div display= inline>
                <button (click)="setCardinality()" class="button_size_honeycomb" type="button">L</button>
                <button (click)="setCardinality()" class="button_size_honeycomb" type="button">R</button>
                <button (click)="setCardinality()" class="button_size_honeycomb" type="button">M</button>
                <label class="label_change_position">asassa</label>
            </div>
            <button (click)="setShapeHoneycomb()" class="button_size_honeycomb" type="button">Create honeycomb</button>
        </div>
    </div>
</body>
