body, html {
    height: 100vh;
}

.div_principal {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(253, 255, 112);
}

.div_honeycomb {
    position: absolute;
    height: 90%;
    width: 77%;
    overflow-x: auto;
    overflow-y: auto;
    top: 5%;
    left: 2%;
}

.div_controls_honeycomb {
    position: absolute; 
    height: 45%;
    width: 17%;
    overflow-x: auto;
    overflow-y: auto;
    background-color: chocolate;
    outline: 2px solid white;
    float: right;
    top: 5%;
    right: 2%;
    padding: 10px;
}

table {
    position: relative;
    height: 100%;
    width : 100%; 
    float: left;
}

.cell {
    background-color: chocolate;
    border: 3px solid black;
    color: white;
    vertical-align: top;
    display: table-cell;
}

.label_title {
    position: relative;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    border: 5px;
}

.label_title_error {
    position: relative;
    background-color: gainsboro;
    color: red;
    font-weight: bold;
    font-size: 20px;
    top: 10px;
    padding: 15px;
    margin: 5px;
    border: 5px;
}

.label_title_final_position {
    position: relative;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
    top: 10px;
    margin: 5px;
    border: 5px;
}

.label_options {
    position: relative;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
    border: 5px;
}

.label_final_results {
    position: relative;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    top: 10px;
    margin: 5px;
    border: 5px;
}

.label_change_position {
    position: absolute;
    width: 110px;
    overflow-x: auto;
    background-color: gainsboro;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    margin: 5px;
    border: 5px;
}

.label_final_position {
    position: relative;
    width: 30px;
    background-color: gainsboro;
    color: black;
    font-weight: bold;
    font-size: 14px;
    top: 10px;
    padding: 5px;
    margin: 5px;
    border: 5px;
}

.label_final_orientation {
    position: relative;
    width: 50px;
    background-color: gainsboro;
    color: black;
    font-weight: bold;
    font-size: 14px;
    top: 10px;
    padding: 5px;
    margin: 5px;
    border: 5px;
}

.input_dimensions_honeycomb {
    position: relative;
    height: 30px;
    width: 60px;
    padding: 5px;
    margin: 5px;
}

.button_principal {
    position: relative;
    background-color: #04AA6D;
    border: 1px solid black;
    font-weight: bold;
    color: white;
    padding: 5px;
    margin: 5px;
}

.button_see_final_position {
    position: relative;
    background-color: #04AA6D;
    border: 1px solid black;
    font-weight: bold;
    color: white;
    top: 10px;
    padding: 5px;
    margin: 5px;
}

.button_options {
    position: relative;
    background-color: rgb(84, 129, 236);
    border: 1px solid black;
    font-weight: bold;
    color: white;
    padding: 5px;
    margin: 5px;
}