<body>
    <div class="div_principal">
        <div class="div_honeycomb">
            <table id="honeycomb">
                <tr *ngFor="let col of rowArray; index as i">
                    <td class="cell" *ngFor="let col of colArray; index as j"></td>
                </tr>
            </table>
        </div>
        <div class="div_controls_honeycomb">
            <label class="label_title">Honeycomb dimensions</label>
            <div display= inline>
                <label class="label_options">Number of rows:</label>
                <input [(ngModel)]="rows" class="input_dimensions_honeycomb" type="number" (keyup)="checkHoneycombDimensionsXFront($event)" (click)="checkHoneycombDimensionsXFront($event)">
            </div>
            <div display= inline>
                <label class="label_options">Number of columns:</label>
                <input [(ngModel)]="columns" class="input_dimensions_honeycomb" type="number" (keyup)="checkHoneycombDimensionsYFront($event)" (click)="checkHoneycombDimensionsYFront($event)">
            </div>
            <button (click)="setShapeHoneycomb()" class="button_principal" type="button">Create honeycomb</button>
            <div *ngIf="viewStartPositionSection">
                <label class="label_title">Start position of the bee</label>
                <div display= inline>
                    <label class="label_options">X:</label>
                    <input [(ngModel)]="x" class="input_dimensions_honeycomb" type="number" (keyup)="checkPositionXBee($event)" (click)="checkPositionXBee($event)">
                </div>
                <div display= inline>
                    <label class="label_options">Y:</label>
                    <input [(ngModel)]="y" class="input_dimensions_honeycomb" type="number" (keyup)="checkPositionYBee($event)" (click)="checkPositionYBee($event)">
                </div>
                <div display= inline>
                    <label class="label_options">Orientation:</label>
                    <button (click)="setCardinality()" class="button_options" type="button">{{cardinality}}</button>
                </div>
                <button (click)="positionBee()" class="button_principal" type="button">Position bee on honeycomb</button>
            </div>
            <div *ngIf="viewChangePositionSection">
                <label class="label_title">Change position of the bee</label>
                <div display= block>
                    <button (click)="setWhereIsHeading('L')" class="button_options" type="button">L</button>
                    <button (click)="setWhereIsHeading('R')" class="button_options" type="button">R</button>
                    <button (click)="setWhereIsHeading('M')" class="button_options" type="button">M</button>
                    <button (click)="clearWhereIsHeading()" class="button_options" type="button">Clear</button>
                    <label *ngIf="viewLabelChangePosition" class="label_change_position">{{whereIsHeading}}</label>
                </div>
                <button (click)="finalPositionBee()" class="button_see_final_position" type="button">See final position of the bee</button>
            </div>
            <div *ngIf="viewFinalPositionSection">
                <label class="label_title">Final position of the bee</label>
                <div display= block>
                    <label class="label_options">X:</label>
                    <label class="label_final_position">{{oldX}}</label>
                    <label class="label_options">Y:</label>
                    <label class="label_final_position">{{rows - oldY}}</label>
                    <label class="label_options">Orientation:</label>
                    <label class="label_final_orientation">{{cardinality}}</label>
                </div>
            </div>
        </div>
    </div>
</body>